@model Patisserie.Models.Slider

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}



<h3 class="my-5">Silmek istediginize emin misiniz?</h3>
<hr />
<div class="" style="margin-top:70px;margin-bottom:120px">

    <div class="row">
        <div class="col-4"></div>
        <div class="col-1 ">
            @Html.DisplayNameFor(model => model.TitleText)
        </div>
        <div class="col-2   ">
            @Html.DisplayFor(model => model.TitleText)
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-1">
            @Html.DisplayNameFor(model => model.Text)
        </div>
        <div class="col-2">
            @Html.DisplayFor(model => model.Text)
        </div>
    </div>
    

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color my-5">
            <input type="submit" value="Delete" class="btn btn-default btn-sm" />
            @Html.ActionLink("Geri Dön", "Index", new { }, new { @class = "btn btn-primary btn-sm" })
        </div>
    }
</div>
