@model IEnumerable<Patisserie.Models.MainGalery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2 class="mt-5 mb-3">Galeri</h2>

<p>
    @Html.ActionLink("Ekle", "Create",new { },new { @class="btn btn-sm btn-primary py-2  px-4"})
</p>
<table class="table mt-4" style="margin-bottom:280px">
    <tr>
        <th class="mt-2">
            Tarif Adı
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.recipe.RecipeName)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-primary py-2 px-4" })
            @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-primary py-2 px-4" })
            @Html.ActionLink("Resim Ekle", "PhotoUpload", "Abouts", new { value = "Galeri" + item.RecipeId.ToString() }, new { @class = "btn btn-primary btn-sm py-2 px-4" })
        </td>
    </tr>
}

</table>
